<h1>Edit User</h1>
<%= form_with(model: @user, local:true) do |form| %>
	<p>
	    <%= form.label :Firstname %><br>
	    <%= form.text_field :Firstname %>
	</p>
	<p>
	    <%= form.label :Lastname %><br>
	    <%= form.text_field :Lastname %>
	</p>
	<p>
	    <%= form.label :City %><br>
	    <%= form.text_field :City %>
	</p>
	<p>
		<%= form.submit %>
	</p>
<% end %>