<h1>New User</h1>
<%= form_with scope: :user, url: user_create_path, local: true do |form| %>

 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :First_Name %><br>
    <%= form.text_field :Firstname %>
  </p>
 
  <p>
    <%= form.label :Last_Name %><br>
    <%= form.text_area :Lastname %>
  </p>

  <p>
    <%= form.label :City %><br>
    <%= form.text_area :City %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>